.wrapper {
  width: 1000px;
  margin: 50px auto;
}

.block {
  float: left;
  width: 500px;
}

.button {
  display: inline-block;
  border-radius: 0.75em;
  padding: 0.5em 1.5em;
  border-top: #e7e7e7;
  border-left: 1px solid #d0d0d0;
  border-bottom: 1px solid #aeaeae;
  border-right: 1px solid #cdcdcd;
  background: linear-gradient(to bottom, #f4f4f4, #e5e5e5);
  font-size: 12px;
  font-family: "Arial", sans-serif;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.button:hover {
  background: #e5e5e5;
}

.button_size_small {
  font-size: 12px;
}

.button_size_normal {
  font-size: 14px;
}

.button_size_big {
  font-size: 16px;
}
